<% if (user) { %>
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>
<% } %>
